body{
    background-color:peachpuff;
}
.content{
    width:50%;
    height:30%;
    position:absolute;
    left:25%;
    top:35%;
    text-align:center;
}
.window{
    height:80%;
    border:5px solid #8b475d;
    border-radius:15px;
}
#w_stopwatch, #w_clock{
    display:none;
}
input[type=number]{
    width:50px;
}
h1{
    font-size:80px;
    margin: 10px 0px 0px 0px;
    text-shadow:2px 2px white;
}
h3{
    font-size:30px;
    margin: 10px 0px 0px 0px;
}